<form class="login-form py-5">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input  type="email" class="login-username border-bottom" autofocus="true" required="true" placeholder="Email" name="userName" [(ngModel)]="user.userName" />
    <input type="password" class="login-password border-bottom" required="true" placeholder="Password" name="password" [(ngModel)]="user.password" />
    <input type="submit" name="Login" value="Login" class="login-submit rounded border border-light" (click)="login()"/>
  </form>
  <a href="#" class="login-forgot-pass">forgot password?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 