<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col">
            <h1 class="text-center text-light" >Attribute Directives</h1>
            <h4 class="text-light">[ngClass],[ngStyle]</h4>
        </div>
    </div>
    <div class="row py-3 justify-content-evenly">
        <div class="col me-1" [ngClass]="div1BgColor">
            <div class="text-center">
                <h1>div-1</h1>
            </div>
            </div>
        <div class="col  me-1" [ngClass]="isDiv2Active?'bg-success':'bg-warning'" >
            <h1>div-2</h1>
        </div>
        <div class="col  me-1" [ngClass]="num1==num2?'bg-danger text-white':'bg-warning text-black'" >
            <h1>div-3</h1>
        </div>
        <div class="col bg-primary " ><h1>div-4</h1></div>
    </div>
    <div class="row py-3 ">
        <div class="col "> 
            <button  class="btn btn-danger mx-1" (click)="addRedClass()">Hide</button>
            <button  class="btn btn-primary" (click)="addBlueClass()">Show</button>
        </div>
        <div class="col ">
            <button class="btn btn-success ms-4" (click)="div2Toggle()" >Toggle</button>
        </div>
        <div class="col ">
            <input type="text" placeholder="num1" [(ngModel)]="num1"  >
            <input type="text" placeholder="num2" [(ngModel)]="num2" >
        </div>
        <div class="col ">
            <input type="checkbox">
            <select name="" id="">
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
            </select>
        </div>
    </div>
    <div class="row py-5">
        <div class="col">
            <ul>
                <li ></li>
            </ul>
        </div>
        <div class="col">
            <select name="" id="">
                <option value="" ></option>
            </select>
        </div>
        <div class="col">
            <div ></div>
        </div>
        
    </div>
    <div class="row py-5">
        <div class="col">
            <select name="" id="">
                <option ></option>
            </select>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>City</td>
                        <td>Status</td>
                        <td>Marks</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of student">
                        <td>{{s.name}}</td>
                        <td>{{s.city}}</td>
                        <td [ngClass]="s.isActive?'bg-success text-white':'bg-danger text-white'">
                            <span>{{s.isActive?'Active':'De-active'}}</span>
                        </td> 
                        <td>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" [ngStyle]="{'width': s.marks+'%'}">{{s.marks}}</div>
                              </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</div>